<h1>Hello <%= @user.name %></h1>
  <p>
    This is your new password to sign up at Inspect.<br>
    your login is: <%= @user.email %>.<br>
    your password is: <%= @user.password %>
  </p>
<p>Thanks and have a great day!</p>